#head_bar{
    display: inline-block;
    width: 20%;
}
#register_area{
    margin-left: 80%;
    margin-right: 5%;
    display: inline-block;
    width: 30%;
    height: 100PX;
}
.regist_modal{
    width: 30%;
    height: 100%;
    background-color: lightblue;
    border: solid 1px lightslategray;
    border-radius: 50%;
}

#modal-content {
	width: 50% ;
	margin: 0 ;
	padding: 10px 20px ;
	border: 2px solid #aaa ;
	border-radius: 5px;
	background: #fff ;
	position: fixed ;
	display: none ;
	z-index: 2 ;
}

#modal-overlay {
	z-index: 1 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}

#modal-close{
	display:inline-block;
    margin-left: 90%;
    margin-right: 0;
    text-align: right;
    }

.button-link {
	color: rgb(7, 7, 8) ;
	text-decoration: underline ;
}

.button-link:hover {
	cursor: pointer ;
	color: #f00 ;
}
.regist_title{
    background-color: rgb(175, 90, 107);
    text-align: center;
}
.URL{
    margin: 3px;
    display: inline-block;
}
.URL_text{
    display: inline-block;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(0, 0, 0);
}
.category{
    margin: 3px;
    display: inline-block;
}
.category1{
    display: inline-block;
	border: solid 1px black;

}
.category2{
    display: inline-block;



}
.pass{
    margin: 3px;
    display: inline-block;
}
.regist_pass{
    display: inline-block;
    border: solid 1px black;
}
.regist_button{
    margin-right: 0;
    margin-left: auto;
    height: 25%;
    width: 25%;
	display: block;
	color: cornsilk;
	background-color: rgb(194, 100, 100);
	border: solid 1px black;
}

#search_form{
    display: inline-block;
    width: 100%;
    background-color: lightblue;
}
#search_box{
    display: inline-block;
    width: 20%;
    margin-right: 0;
    background-color: lightblue;
    border: solid 1px rgb(0, 0, 0);
}
.search_button{
    display: inline-block;
    width: 10%;
    margin-left: 0;
    background-color: lightsalmon;
    border: solid 1px rgb(0, 0, 0);
}

.category_button{
    display: inline-block;
    width: fit-content;
    margin: auto 0;
}

.java_buttton{
    display: inline-block;
    background-color: lightcyan;
    border: solid 2px lightslategrey;
}
.Linux_buttton{
    display: inline-block;
    background-color: lightcyan;
    border: solid 2px lightslategrey;
}

#contents_area{
    background-color: maroon;
    width: 100vw;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;

}
.sort_box{
    display: inline-block;
    position: relative;
    background: #ffffff;
    margin-left: 70%;
    width: 150px;
    height: 30px;
    color: rgb(36, 35, 35);
}
.sort select {
    display: inline-block;
    text-align: center;
    text-align:webkit-center;
    display: block;
    width: 150px;
    height: 30px;
    color: rgb(36, 35, 35);
    background: #ffffff;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
.sort_button{
    display: inline-block;
    background: #ffffff;
    background-color: ivory;
    width: auto;
    height: 30px;
    border: solid 2px lightgray;
    border-radius: 3px;
}

#contents_box{
    display: flex;
    align-items: stretch;
    background-color: rgb(212, 212, 212);
    width: 80%;
    height: 200px;
    border:solid 2px slategray;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 3% auto;

}


#icon{
    background-color: #c42734;
    width: 20%;
    height: 100%;
    margin-left: 2%;
    border: solid 2px slategrey;

}
#article_base{
    background-color: rgb(137, 161, 28);
    width: 60%;


}

#article_text{
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 78, 71);
    width: 100%;
    height: 100%;


}
#article1{
    position: relative;
    background-color: khaki;
    width: 100%;
    height: 70%;
}


#article2{
    display: flex;
    align-items: stretch;
    background-color: lightcoral;
    width: 100%;
    height: 30%;
}
.title{
    background-color: rgb(132, 169, 173);
    position: relative;
    text-align: center;
    height: 50%;

}
.title a{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
}

.caption{
    background-color: teal;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.author{
    background-color: red;
    width: 50%;


}
.view_int{
    background-color: royalblue;
    width: 50%
}

#side_menu{
    display: flex;
    flex-direction: column;
    background-color: mediumslateblue;
    width: 20%;
    height: 100%;
    margin-right: 2%;
}
.date{
    text-align: center;
    background-color: orange;
    width: 90%;
    height: 30%;
    margin:5%;
}
.delete{
    background-color: mintcream;
    width: 50%;
    border: solid 2px rgb(136, 139, 138);
    text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-top:30%;
   margin-bottom: 0;
}


.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    text-align: center;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }

  
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
  }
  
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: #333;
  }

  .popmessage{
    transform: translate(-50%,-50%);
    left: 50%;
    padding-top: 30%;
    position: absolute;
    top: 50%;
    width: 80%;
    height: 80%;
    background-color: rgb(91, 126, 91);


}


  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }